/* styles.css */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
}

.form-container, .image-container {
    padding: 40px;
}

.form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wordmark {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
}

.form-container h1 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    margin-bottom: 20px;
    width: 420px;
}

.login-btn {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
    flex: 1;
}

.login-btn.active {
    background-color: #000;
    color: #fff;
}

.login-btn:not(:last-child) {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    font-weight: 500;
    font-size: 12px;
    color: #007BFF;
    margin-bottom: 20px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.create-account-btn {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

form p {
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
}

form p a {
    color: #007BFF;
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 8px;
}
